[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
backoff = "*"

[dev-packages]
requests-mock = "*"
pytest = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
