[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
backoff = "*"

[dev-packages]
requests-mock = "*"
pytest = "*"
black = "*"
flake8 = "*"
flake8-black = "*"
pep8 = "*"
autopep8 = "*"
pylint = "*"
pipenv-setup = "*"
# https://github.com/Madoshakalaka/pipenv-setup/issues/138
vistir = "==0.6.1"

[requires]
python_version = "3.10"
